@font-face {
	font-family: "Futura";
	src: url("../../../Assets/fonts/Futura.ttc") format("truetype");
}

.Menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 20px;
	font-family: "Futura", sans-serif;
}

.Menu > .active {
	font-size: x-large;
	color: snow;
}

.Menu a {
	display: flex;
	align-items: center;
	transition: all 0.3s ease; /* Add transition for smooth animation */
}

.Menu > a > i {
	margin-left: 10px;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-5px);
	}
}

.add-product {
	animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.gg-home-alt {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 18px;
	height: 14px;
	border: 2px solid;
	border-top: 0;
	border-radius: 2px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: -2px;
}

.gg-home-alt::after,
.gg-home-alt::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
}

.gg-home-alt::before {
	border-top: 2px solid;
	border-left: 2px solid;
	border-top-left-radius: 4px;
	transform: rotate(45deg);
	top: -5px;
	border-radius: 3px;
	width: 14px;
	height: 14px;
	left: 0;
}

.gg-home-alt::after {
	width: 6px;
	height: 10px;
	background: currentColor;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	left: 4px;
	bottom: -2px;
}

.gg-info {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 20px;
	height: 20px;
	border: 2px solid;
	border-radius: 40px;
}

.gg-info::after,
.gg-info::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	border-radius: 3px;
	width: 2px;
	background: currentColor;
	left: 7px;
}

.gg-info::after {
	bottom: 2px;
	height: 8px;
}

.gg-info::before {
	height: 2px;
	top: 2px;
}

.gg-box {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 20px;
	border: 2px solid;
	border-radius: 3px;
}

.gg-box::after,
.gg-box::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	border-radius: 3px;
	height: 2px;
	background: currentColor;
}

.gg-box::before {
	left: 6px;
	width: 6px;
	top: 8px;
}

.gg-box::after {
	width: 22px;
	left: -2px;
	top: 4px;
}
.gg-math-plus,
.gg-math-plus::after {
	display: block;
	box-sizing: border-box;
	background: currentColor;
	border-radius: 10px;
}

.gg-math-plus {
	margin-top: -2px;
	position: relative;
	transform: scale(var(--ggs, 1));
	width: 16px;
	height: 2px;
}

.gg-math-plus::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 16px;
	top: -7px;
	left: 7px;
}
